@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* navegacion  */

    .nav{
        font-size: 20px;
        background-color: #ECC47C;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav .enlaces ul li{
        list-style: none;
        display: inline-block;
        justify-content: center;
        margin: 0 10px 0 10px;
    }
    
    .nav a.titulo h1{
        color: #fff;
    }

    .nav a.titulo{
        border: none;
        padding: 0;
    }

    .nav a.titulo:hover{
        border: none;
        background-color: #ECC47C;
    }
    
    .nav a{
        text-decoration: none;
        background-color: #ECC47C;
        color: #fff;
        padding: 5px 10px 5px 10px;
        border: 1px solid #fff;
        border-radius: 5px;
    }
    
    .nav a:hover{
        background-color: #fff;
        color: #ECC47C;
    }

/* formulario y fondo */

.contenedorHero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 1000px;
}

.contenedorHero h2{
    display: block;
    color: #fff;
    font-weight: 900;
    font-size: 50px;
    text-shadow: 2px 2px 8px #1c1918;
}

.contenedorHero h2 span{
    display: block;
}

.hero{
    width: 100%;
    height: 1000px;
    background-image: url(..//img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.formulario{
    border: 2px solid #ECC47C;
    background-color: rgba(53, 53, 53, 0.418);
}

.formulario label{
    font-size: 18px;
    color: #ECC47C;
    font-weight: bold;
}

.formulario .localidad input{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #ECC47C;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    /* border-radius: 5px; */
}

.formulario .localidad input:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.formulario select{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #ECC47C;
    /* border-radius: 5px; */
    outline: 0px;
    background-color: rgba(255, 255, 255, 0);
    color: #ECC47C;
}

.formulario select option{
    color: #000;
}

.formulario select:active{
    outline: none;
    border: none;
    border-bottom: 2px solid #ECC47C;
}

.formulario select:focus{
    outline: none;
    border-bottom: 2px solid #ECC47C;
}

.formulario input:active{
    outline: none;
    border: none;
    border-bottom: 2px solid #ECC47C;
}

.formulario input:focus{
    color: #ECC47C;
    border-bottom: 2px solid #ECC47C;
}

.formulario input::placeholder{
    color: #ECC47C;
}

.formulario .selectPropiedad{
    margin: 10px 10px;
}

.formulario .localidad{
    margin: 10px 10px;
}

.formulario .operacion{
    margin: 10px 10px;
}

.formulario .enviar{
    margin: 10px 10px;
}

.formulario .enviar input{
    padding: 10px;
    border: 1px solid #ECC47C;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    color: #ECC47C;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.formulario .enviar input:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

.formulario select:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

/* main */

.contenedorMain{
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px;
    /* margin-bottom: 150px; */
}

.beneficios{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ECC47C;
}

.cartas{
    display: flex;
    justify-content: center;
}

.box{
    display: block;
    margin: auto;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #ECC47C;
    opacity: 0.8;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.box:hover{
    padding: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.box p{
    margin-top: 10px;
    color: #ECC47C;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

/* propiedades grid */

.contenedorPropiedades{
    margin-bottom: 150px;
    background-color:#FFC298;
    color: #fff;
    height: auto;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 30px;
}

.h2contenedorPropiedades{
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.propiedadesGrid{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.cartaPropiedades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: auto;
    border-radius: 20px;
    border: 1px solid black;
}

.cartaPropiedades img{
    width: 90%;
    margin: 10px 0;
    border-radius: 15px;
}

.cartaPropiedades .listaPropiedades ul li{
    color: #000;
    margin: 10px 0;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.cartaPropiedades .listaPropiedades ul li img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.cartaPropiedades a{
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: #CDA291;
    margin: 10px 0;
}

.cartaPropiedades a:hover{
    color: #CDA291;
    background-color: #fff;
    border: 2px solid #CDA291;
}

/* section */

.introTitulo{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    padding: 50px;
}

.contenedor{
    width: 80%;
    margin: 0 auto 0 auto;
}

.sombra{
    box-shadow: 0px 5px 15px 0px rgb(112 112 112 / 54%);
    border-radius: 30px;
}

.intro{
    display: flex;
    justify-content: center;
    padding: 50px;
    align-items: center;
}

.intro.invierte p{
    margin-left: 20px;
}

.intro.elegirnos p{
    margin-right: 20px;
}

.intro.prestamos p{
    margin-right: 20px;
}

.intro p{
    max-width: 500px;
    text-align: left;
    line-height: 25px;
    font-size: 18px;
}

.intro img{
    height: 350px;
    width: 500px;
}

/* footer */

.contenedorFooter{
    margin-top: 30px;
    height: auto;
    max-width: 100%;
    background-color: #ECC47C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

.contenedorFooter h2{
    font-size: 100px;
}

.contenedorFooter p{
    text-align: center;
}

.contenedorFooter ul li{
    list-style: none;
    color: #fff;
    margin: 30px 0 30px 0;
}


.contenedorFooter a{
    text-decoration: none;
    color: #fff;
}

.paises ul li, .redes ul li{
    display: flex;
    align-items: center;
    gap: 5px;
}

.terminos{
    background-color: #ECC47C;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    font-size: 18px;
    font-weight: 700;
}

.terminos a{
    text-decoration: none;
    color: #fff;
}

/* preguntas frecuentes */

.preguntasTitulo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 30px;
}


.contenedorPreguntas{
    display: flex;
    margin: 50px 0;
    align-items: top;
    justify-content: space-around;
}

.cajaPreguntas{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: auto;
    padding: 30px;
    background-color: #FFC386;
    border-radius: 10px;
    margin: 0 10px;
}

.cajaPreguntas h3{
    margin-bottom: 20px;
}

.contenedorPreguntas p{
    margin-top: 10px;
    width: 100%;
    line-height: 30px;
    font-size: 18px;
}

/* servicios */

.fondoServicios{
    background-image: url(../img/tasaciones.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ECC47C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 30px;
}

.contenedorServicios{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.formularioServicios{
    width: 800px;
    border: 1px solid;
}

.step1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.formularioServicios .step1 input{
    width: 100%;
}

.cajaFormServicios{
    width: 250px;
}

.mensajeServicios{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
}

.enviarBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

/* servicios */

.fondoServicios{
    color: rgb(255, 197, 90)
}

.h2Servicios{
    text-align: center;
    margin: 30px 0;
}

.contenedorForm{
    width: 80%;
    border: 1px solid #ECC47C;
    margin: 0 auto;
    background-color: rgb(73, 73, 73);
}

.escritorio{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contenidoServicio{
    margin: 10px 0;
}

.contenedorCajaFormServicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cajaFormServicio{
    margin: 10px 0;
    width: 100%;
}

.cajaFormServicio select, .cajaFormServicio input{
    margin: 10px 0;
    width: 300px;
    border: none;
    border-bottom: 2px solid #ECC47C;
    padding: 5px;
    color: #ECC47C;
    background-color: rgb(73, 73, 73); 
    font-size: 1rem;
}

.cajaFormServicio input:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.cajaFormServicio input::placeholder{
    color: #ECC47C;
    font-size: 1rem;
}

.cajaFormServicio input:focus{
    outline: none;
    font-size: 1rem;
}

.cajaFormServicio select:focus{
    outline: none;
    
}

.cajaFormServicio label{
    color: #ECC47C;
    font-weight: bold;
}

.contenidoServicio .enviarBtn input{
    padding: 10px;
    border: 1px solid #ECC47C;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.contenidoServicio .enviarBtn input:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

/* sobre nosotros */

.tituloNosotros{
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloNosotros h2{
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 900;
}

.tituloNosotros p{
    font-size: 20px;
    font-weight: bold;
}

.contenedorNosotros{
    display: flex;
    justify-content: space-around;
    
    min-height: 620px;
}

.cajaNosotros img{
    height: 300px;
    width: 450px;
}

.cajaNosotros{
    width: auto;
    height: auto;
}

.cajaNosotros p{
    width: 450px;
    line-height: 30px;
    font-size: 15px;
}

.cajaNosotros h3{
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}

.contenedorLista{
    background-color: #ecd49f;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listaNosotros{
    text-align: center;
}

.listah2Nosotros h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: 900;
}

.listaNosotros ul li{
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 700;
    list-style: disc;
    text-align: left;
}

.marginFooterNosotros{
    margin: 0;
}

/* contacto */

.bg-main-contact{
    background-color: #ffd8ca;
}

.tituloContacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.tituloContacto h1{
    font-size: 50px;
}

.tituloContacto h2{
    font-size: 30px;
    margin-top: 10px;
}

iframe{
    width: 800px;
    height: 400px;
}

.contenedorContacto{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    min-height: 600px;
}

.formularioContacto{
    width: 800px;
    min-height: 400px;
    border: 2px solid #ECC47C;
    background-color: rgb(73, 73, 73);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.step1Contacto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.cajaContacto{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formularioContacto .step1Contacto .cajaContacto label{
    font-size: 18px;
    color: #ECC47C;
    font-weight: bold;
}

.formularioContacto .mensajeContacto label{
    font-size: 18px;
    color: #ECC47C;
    font-weight: bold;
}

.formularioContacto .step1Contacto .cajaContacto input, textarea{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #ECC47C;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    resize: none;
}

.formularioContacto .step1Contacto .cajaContacto input:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

textarea:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

textarea:focus{
    color: #ECC47C;
}

textarea::-webkit-scrollbar{
    -webkit-appearance: none;
    margin: 0;
}

.formularioContacto .step1Contacto .cajaContacto input:active{
    outline: none;
    border: none;
    border-bottom: 2px solid #ECC47C;
}

.formularioContacto .step1Contacto .cajaContacto input:focus{
    color: #ECC47C;
    border-bottom: 2px solid #ECC47C;
}

.formularioContacto .step1Contacto input::placeholder{
    font-size: 15px;
    color: #ECC47C;
}

.cajaContactoBtn .enviarBtn input{
    padding: 10px;
    border: 1px solid #ECC47C;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    color: #ECC47C;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.step1Contacto .cajaContacto .number input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.step1Contacto .cajaContacto.mensaje{
    width: 95%;
}

.cajaContactoBtn .enviarBtn input:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

/* grid area */

.contenedorGaleria{
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.contenedorGaleria h1{
    margin: 40px auto;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
}

.galeria{
    display: grid;
    grid-template-areas: 
    "img1 img2 img2 img2"
    "img1 img4 img5 img3"
    "img6 img6 img5 img3"
    "img7 img7 img7 img8"
    ;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px 200px 350px 350px;
    margin: 0 auto;
}

.img{
    border-radius: 10px;
    margin: 10px;
    background-size: cover;
    background-position: center; 
}

.img1{
    grid-area: img1;
    background-image: url(../img/img1.jpg);
}

.img2{
    grid-area: img2;
    background-image: url(../img/img2.jpg);
    background-position-y: 60%;
}

.img3{
    grid-area: img3;
    background-image: url(../img/img3.jpg);
    background-position: calc(100% - 5%);
}

.img4{
    grid-area: img4;
    background-image: url(../img/img4.jpg);
}

.img5{
    grid-area: img5;
    background-image: url(../img/img5.jpeg);
}

.img6{
    grid-area: img6;
    background-image: url(../img/img6.jpg);
}

.img7{
    grid-area: img7;
    background-image: url(../img/img7.jpg);
    background-position-y: 80%;
}

.img8{
    grid-area: img8;
    background-image: url(../img/img8.jpg);
}


@media only screen and (min-width: 481px) and (max-width: 768px){

    /* header */

    .nav{
        font-size: .9rem;
        background-color: #ECC47C;
        padding: 20px;
        flex-direction: column;
    }

    .nav .enlaces ul li{
        list-style: none;
        display: inline-block;
        justify-content: center;
        margin: 0 5px;
    }

    .nav h1{
        margin-bottom: 15px;
    }

    .nav a{
        text-align: center;
    }

    /* formulario y fondo */

    .marginHero{
        width: 90%;
    }

    .hero{
        background-position: calc(100% - 20%);
    }

    .formulario label{
        font-size: 1.2rem;
    }

    .formulario .localidad input{
        font-size: 1.2rem;
    }

    .formulario select{
        font-size: 1.2rem;
    }

    .formulario .enviar input{
        font-size: 1.2rem;
    }

    /* beneficios */

    .cartas{
        display: block;
    }

    .box{
        margin: 10px 0px;
    }

    .box p{
        font-size: 1.2rem;
    }

    .box:hover{
        padding: 30px;
    }

    /* propiedades grid */

    .h2contenedorPropiedades{
        font-size: 3.1rem;
        margin-bottom: 50px;
    }

    .propiedadesGrid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }

    .cartaPropiedades{
        width: 100%;
    }

    .cartaPropiedades a{
        width: 80%;
        text-align: center;
    }



    /* secction */

    .introTitulo{
        padding: 30px;
    }
    
    .contenedor{
        width: 100%;
        margin: 0 auto 0 auto;
    }
    
    .intro{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding: 50px;
    }
    
    .intro p{
        order: 1;
        max-width: 700px;
        text-align: left;
        line-height: 30px;
        font-size: 1.2rem;
        margin-top: 20px;
    }
    
    .intro img{
        order: 0;
        height: 100%;
        width: 100%;
    }

    /* footer */

    .contenedorFooter{
        flex-direction: column;
    }

    .contenedorFooter h2{
        font-size: 3.7rem;
    }
    

    .contenedorFooter .redes{
        text-decoration: none;
        color: #fff;
    }
    
    .contenedorFooter .redes a{
        text-decoration: none;
        color: #fff;
    }

    .redes ul, .paises ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
        gap: 10px;
    }

    .paises ul li, .redes ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: .9rem;
    }
    
    .terminos a{
        text-decoration: none;
        font-size: .9rem;
        color: #fff;
        text-align: center;
    }

    .redes ul li:first-of-type, .paises ul li:first-of-type {
        display: none;
    }

    /* preguntas frecuentes */

    .preguntasTitulo h2{
        font-size: 1.3rem;
    }

    .contenedorPreguntas{
        flex-direction: column;
        margin: 0 10px;
    }
    
    .cajaPreguntas{
        width: auto;
        margin: 20px 0;
    }

    /* sobre nosotros */

    .contenedorNosotros{
        width: 100%;
    }

    .tituloNosotros h2{
        margin-bottom: 20px;
        font-size: 1.9rem;
    }
    
    .contenedorNosotros{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .cajaNosotros img{
        height: 80%;
        width: 80%;
    }
    
    .cajaNosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    
    .cajaNosotros p{
        width: 80%;
        line-height: 20px;
        font-size: .9rem;
        margin-top: 10px;
    }
    
    .cajaNosotros h3{
        margin-bottom: 20px;
    }
    
    .listaNosotros{
        text-align: center;
        width: 100%
    }
    
    .listah2Nosotros h2{
        font-size: 1.3rem;
        margin: 20px 0;
    }

    .listaNosotros ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .listaNosotros ul li{
        margin-bottom: 15px;
        font-size: 1.2rem;
        font-weight: 700;
        list-style: disc;
        width: 80%;
    }

    /* servicios */

    .fondoServicios{
        height: 300px;
        background-position: calc(100% - 30%);
        font-size: 20px;
        text-align: center;
    }

    .escritorio{
        flex-direction: column;
    }

    .h2Servicios{
        text-align: center;
        margin-top: 30px;
    }

    .contenedorForm{
        margin: 10px auto;
        width: 80%;
        border: 1px solid #ECC47C;
        background-color: rgb(73, 73, 73);
    }

    .contenidoServicio{
        margin: 10px 0;
        width: 100%;
    }

    .contenedorCajaFormServicio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cajaFormServicio{
        margin: 10px 0;
        width: 80%;
    }

    .cajaFormServicio select, .cajaFormServicio input{
        margin: 10px 0;
        width: 100%;
        border: none;
        border-bottom: 2px solid #ECC47C;
        padding: 5px;
        color: #ECC47C;
        background-color: rgb(73, 73, 73); 
        font-size: 1rem;
    }

    .cajaFormServicio input::placeholder{
        color: #ECC47C;
        font-size: 1rem;
    }

    .cajaFormServicio input:focus{
        outline: none;
        font-size: 1rem;
    }

    .cajaFormServicio select:focus{
        outline: none;
    }

    .cajaFormServicio label{
        color: #ECC47C;
        font-weight: bold;
    }

    .contenidoServicio .enviarBtn input{
        padding: 10px;
        border: 1px solid #ECC47C;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    /* contacto */

    .tituloContacto h1{
        font-size: 2.2rem;
    }
    
    .tituloContacto h2{
        font-size: 1.3rem;
    }
    
    .contenedorContacto{
        flex-direction: column-reverse;
    }
    
    .contenedorFormContacto{
         width: 90%;
    }
    
    .cajaContacto{
        width: 85%;
    }
    
    .step1Contacto .cajaContacto.mensaje{
         width: 85%;
    }
    
    .formularioContacto{
        flex-direction: column;
        width: 100%;
    }
    
    .step1Contacto{
        flex-direction: column;
        margin: 0;
    }
    
    .step1Contacto label, input{
        margin: 10px 0;
    }
    
    .cajaContacto{
        margin: 20px 0;
    }
    
    .iframeUbicacion{
        display: flex;
        justify-content: center;
        margin: 30px 0;
        width: 100%;
    }
    
    .iframeUbicacion iframe{
        width: 90%;
        height: 400px;
    }
    
    .step1Contacto .cajaContacto .enviarBtn input{
        width: 100%;
        border-bottom: none;
        border: 1px solid #ECC47C;
        padding: 10px;
    }
    
    /* contenedor galeria grid area */
    
    .contenedorGaleria{
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
        
    .contenedorGaleria h1{
        margin: 40px auto;
        text-align: center;
        font-size: 1.9rem;
        text-transform: uppercase;
    }
        
    .galeria{
        display: grid;
        grid-template-areas: 
        "img1 img1"
        "img2 img2"
        "img3 img4"
        "img5 img6"
        "img5 img6"
        "img7 img8"
        "img7 img8"
        ;
        
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 250px);
        margin: 0 auto;
    }

}


@media only screen and (min-width: 320px) and (max-width: 480px){

    /* header */

    .nav{
        display: flex;
        flex-direction: column;
    }

    .nav .enlaces{
        width: 100%;
    }

    .nav .enlaces ul li{
        list-style: none;
        display: flex;
        margin: 10px;
    }

    .nav h1{
        margin-bottom: 10px;
    }
    
    .nav a{
        text-align: center;
        width: 100%;
    }

    /* formulario y fondo */

    .marginHero{
        width: 90%;
    }

    .contenedorHero{
        height: 500px;
    }

    .contenedorHero h2{
        font-size: 1.4rem;
    }
    
    .hero{
        background-position: calc(100% - 21%);
        height: 500px;
    }

    .formulario label{
        font-size: 0.8rem;
    }

    .formulario .localidad input{
        font-size: 0.8rem;
    }

    .formulario select{
        font-size: 0.8rem;
    }

    .formulario .enviar input{
        font-size: 0.8rem;
    }

    /* beneficios */

    .beneficios{
        font-size: 1.9rem;
    }

    .cartas{
        display: block;
    }

    .box{
        margin: 10px 0;
    }

    .box p{
        font-size: .9rem;
    }

    .box:hover{
        padding: 30px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    /* propiedades grid */

    .contenedorPropiedades{
        width: 100%;
    }

    .h2contenedorPropiedades{
        font-size: 2.5rem;
        margin-bottom: 50px;
    }

    .propiedadesGrid{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .cartaPropiedades{
        width: 100%;
    }

    .cartaPropiedades a{
        width: 80%;
        text-align: center;
    }



    /* secction */

    .introTitulo{
        padding: 30px;
    }
    
    .contenedor{
        width: 100%;
        margin: 0 auto 0 auto;
    }
    
    .intro{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 0;
        padding: 50px;
    }

    .intro.invierte p{
        margin-left: 0;
    }

    .intro.elegirnos p, .intro.prestamos p{
        margin-right: 0;
    }

    .intro p{
        order: 1;
        width: 90%;
        text-align: left;
        line-height: 20px;
        font-size: .8rem;
        margin-top: 20px;
    }
    
    .intro img{
        order: 0;
        height: 90%;
        width: 90%;
    }

    /* footer */

    .contenedorFooter{
        flex-direction: column;
    }

    .contenedorFooter h2{
        font-size: 3.7rem;
    }
    

    .contenedorFooter .redes{
        text-decoration: none;
        color: #fff;
    }
    
    .contenedorFooter .redes a{
        text-decoration: none;
        color: #fff;
    }

    .redes ul, .paises ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
        gap: 10px;
    }

    .paises ul li, .redes ul li{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 15px;
    }
    
    .terminos a{
        text-decoration: none;
        font-size: .9rem;
        color: #fff;
        text-align: center;
    }

    .redes ul li:first-of-type, .paises ul li:first-of-type {
        display: none;
    }

    /* preguntas frecuentes */

    .preguntasTitulo{
        padding: 20px;
    }

    .preguntasTitulo h2{
        font-size: 1.2rem;
    }

    .contenedorPreguntas{
        flex-direction: column;
        margin: 0 10px;
    }
    
    .cajaPreguntas{
        width: auto;
        margin: 20px 0;
    }

    .cajaPreguntas p{
        font-size: .9rem;
    }

    /* servicios */

    .fondoServicios{
        height: 300px;
        background-position: calc(100% - 30%);
        font-size: 20px;
        text-align: center;
    }

    .escritorio{
        flex-direction: column;
    }

    .h2Servicios{
        text-align: center;
        margin-top: 30px;
    }

    .contenedorForm{
        margin: 10px auto;
        width: 80%;
        border: 1px solid #ECC47C;
        background-color: rgb(73, 73, 73);
    }

    .contenidoServicio{
        margin: 10px 0;
        width: 100%;
    }

    .contenedorCajaFormServicio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cajaFormServicio{
        margin: 10px 0;
        width: 80%;
    }

    .cajaFormServicio select, .cajaFormServicio input{
        margin: 10px 0;
        width: 100%;
        border: none;
        border-bottom: 2px solid #ECC47C;
        padding: 5px;
        color: #ECC47C;
        background-color: rgb(73, 73, 73); 
        font-size: 1rem;
    }

    .cajaFormServicio input::placeholder{
        color: #ECC47C;
        font-size: 1rem;
    }

    .cajaFormServicio input:focus{
        outline: none;
        font-size: 1rem;
    }

    .cajaFormServicio select:focus{
        outline: none;
    }

    .cajaFormServicio label{
        color: #ECC47C;
        font-weight: bold;
    }

    .contenidoServicio .enviarBtn input{
        padding: 10px;
        border: 1px solid #ECC47C;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    /* sobre nosotros */

    .contenedorNosotros{
        width: 100%;
    }

    .tituloNosotros h2{
        margin-bottom: 20px;
        font-size: 1.9rem;
    }
    
    .contenedorNosotros{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .cajaNosotros img{
        height: 90%;
        width: 90%;
    }
    
    .cajaNosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    
    .cajaNosotros p{
        width: 90%;
        line-height: 20px;
        font-size: .8rem;
        margin-top: 10px;
    }
    
    .cajaNosotros h3{
        margin-bottom: 20px;
    }
    
    .listaNosotros{
        text-align: center;
        width: 100%
    }
    
    .listah2Nosotros h2{
        font-size: 1.2rem;
        margin: 20px 0;
    }

    .listaNosotros ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .listaNosotros ul li{
        margin-bottom: 15px;
        font-size: .9rem;
        font-weight: 700;
        list-style: disc;
        max-width: 250px;
    }

    /* contacto */

    .tituloContacto h1{
        font-size: 2.1rem;
    }

    .tituloContacto h2{
        font-size: 1.2rem;
    }

    .contenedorContacto{
        flex-direction: column-reverse;
    }

    .contenedorFormContacto{
        width: 90%;
    }

    .cajaContacto{
        width: 85%;
    }

    .step1Contacto .cajaContacto.mensaje{
        width: 85%;
    }

    .formularioContacto{
        flex-direction: column;
        width: 100%;
    }

    .step1Contacto{
        flex-direction: column;
        margin: 0;
    }

    .step1Contacto label, input{
        margin: 10px 0;
    }

    .cajaContacto{
        margin: 20px 0;
    }

    .iframeUbicacion{
        display: flex;
        justify-content: center;
        margin: 30px 0;
        width: 100%;
    }

    .iframeUbicacion iframe{
        width: 90%;
        height: 400px;
        align-items: center;
        justify-content: center;
    }

    .step1Contacto .cajaContacto .enviarBtn input{
        width: 100%;
        border-bottom: none;
        border: 1px solid #ECC47C;
        padding: 10px;
    }

    /* contenedor galeria grid area */

    .contenedorGaleria{
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
    
    .contenedorGaleria h1{
        margin: 40px auto;
        text-align: center;
        font-size: 1.9rem;
        text-transform: uppercase;
    }
    
    .galeria{
        display: grid;
        grid-template-areas: 
        "img1 img1"
        "img2 img2"
        "img3 img4"
        "img5 img6"
        "img5 img6"
        "img7 img8"
        "img7 img8"
        ;
    
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 250px);
        margin: 0 auto;
    }
}




